<h2>Language Details</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deleteLanguage()" class="btn btn-outline-danger">Delete Language</button>
<br>
<br>

<table class="table" *ngIf="language != undefined">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Details</th>
  </thead>
  <tbody>
  <tr>
    <th scope="row">id</th>
    <td>{{language != null ? language.id : ''}}</td>
  </tr>
  <tr>
    <th scope="row">Language</th>
    <td>{{language != null ? language.language : ''}}</td>
  </tr>
</tbody>
</table>
