<h2 *ngIf="game == null"></h2>
<h2 *ngIf="game != null">Manage Developers of Game {{game.id}}: {{game.gameName}}</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="updateGame()" class="btn btn-primary">Save</button>
<br/>
<br/>

<div>
  <label>Game Developers:</label>
  <ul class="list-group" *ngIf="game != null" [(ngModel)]="game.developers" ngDefaultControl>
    <li class="list-group-item" *ngFor="let dev of game.developers"><button class="btn btn-link" (click)="showDeveloper(dev.id)">{{dev.developerName}}</button></li>
  </ul>
</div>
<br/>
<br/>

<label>All Languages:</label>
<table class="table" *ngIf="allDevelopers != null">
  <thead>
    <tr>
      <th scope="col">Language</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let developer of allDevelopers">
      <td><button class="btn btn-link" (click)="showDeveloper(developer.id)">{{developer.developerName}}</button></td>
      <td>
        <button type="button" (click)="addDeveloper(developer.id)" class="btn btn-outline-success">Add</button>
        <button type="button" (click)="removeDeveloper(developer.id)" class="btn btn-outline-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
