<h2>Publisher Details</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deletePublisher()" class="btn btn-outline-danger">Delete Publisher</button>
<br>
<br>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Details</th>
  </thead>
  <tbody>
  <tr>
    <th scope="row">id</th>
    <td>{{publisher != null ? publisher.id : ''}}</td>
  </tr>
  <tr>
    <th scope="row">Name</th>
    <td>{{publisher != null ? publisher.publisherName : ''}}</td>
  </tr>
</tbody>
</table>
