<h2 *ngIf="game == null"></h2>
<h2 *ngIf="game != null">Manage Languages of Game {{game.id}}: {{game.gameName}}</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="updateGame()" class="btn btn-primary">Save</button>
<br/>
<br/>

<div>
  <label>Game Languages:</label>
  <ul class="list-group" *ngIf="game != null" [(ngModel)]="game.languages" ngDefaultControl>
    <li class="list-group-item" *ngFor="let l of game.languages"><button class="btn btn-link" (click)="showLanguage(l.id)">{{l.language}}</button></li>
  </ul>
</div>
<br/>
<br/>

<label>All Languages:</label>
<table class="table" *ngIf="allLanguages != null">
  <thead>
    <tr>
      <th scope="col">Language</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let language of allLanguages">
      <td><button class="btn btn-link" (click)="showLanguage(language.id)">{{language.language}}</button></td>
      <td>
        <button type="button" (click)="addLanguage(language.id)" class="btn btn-outline-success">Add</button>
        <button type="button" (click)="removeLanguage(language.id)" class="btn btn-outline-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
