<h2>Languages</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="showCreate()" class="btn btn-outline-success">Create new Language</button>
<br>
<br>


<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let lan of languages">
    <th scope="row">{{lan.id}}</th>
    <td>{{lan.language}}</td>
    <td>
      <button type="button" (click)="showDetails(lan.id)" class="btn btn-outline-info">View</button>
      <button type="button" (click)="showUpdate(lan.id)" class="btn btn-outline-primary">Update</button>
      <button type="button" (click)="deleteLanguage(lan.id)" class="btn btn-outline-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
