<h2>Update Developer</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<br/>
<br/>

<form *ngIf="developer != undefined">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Developer Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Developer Name" [(ngModel)]="developer.developerName" name="name" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="updateDeveloper()">Update</button>
    </div>
  </div>
</form>
