<h2>Update Game</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<br/>
<br/>

<form *ngIf="game != undefined && allPublishers != undefined">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Game Title: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Game Title" [(ngModel)]="game.gameName" name="name" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPrice" class="col-sm-2 col-form-label">Price: </label>
    <div class="col-sm-10">
      <input type="number" step="0.1" class="form-control" id="inputPrice" placeholder="Price" [(ngModel)]="game.price" name="price"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="publisher" class="col-sm-2 col-form-label">Publisher: </label>
    <div class="col-sm-10">
      <select [(ngModel)]="game.publisher" name="language" class="custom-select" id="sel-publisher">
        <option *ngFor="let publisher of allPublishers; let i = index" value={{i}}>{{publisher.publisherName}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDate" class="col-sm-2 col-form-label">Release Date: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="inputDate" placeholder="Date" [ngModel]="game.releaseDate | date:'yyyy-MM-dd'" (ngModelChange)="game.releaseDate = $event" name="date" />
    </div>
  </div>
  <div class="form-group row">
    <label for="genre" class="col-sm-2 col-form-label">Genre: </label>
    <div class="col-sm-10">
      <select [(ngModel)]="game.genre" name="genre" class="custom-select">
        <option *ngFor="let genre of allGenres; let i = index" value={{genre}}>{{genre}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDesc" class="col-sm-2 col-form-label">Description: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDesc" placeholder="Description" [(ngModel)]="game.description" name="desc" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="updateGame()">Update</button>
    </div>
  </div>
</form>
