<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/games" routerLinkActive="active">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/publishers" routerLinkActive="active">Publishers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/developers" routerLinkActive="active">Developers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/languages" routerLinkActive="active">Languages</a>
  </li>
</ul>

<div class="container-fluid">
<router-outlet></router-outlet>
</div>
