<h2>Create Publisher</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<br/>
<br/>

<form *ngIf="publisher != undefined">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Publisher Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Publisher Name" [(ngModel)]="publisher.publisherName" name="name" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-success" (click)="createPublisher()">Create</button>
    </div>
  </div>
</form>
