<h2>User Details</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deleteUser()" class="btn btn-outline-danger">Delete User</button>
<br>
<br>

<table class="table" *ngIf="user != undefined">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Details</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{user != null ? user.id : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>{{user != null ? user.userName : ''}}</td>
    </tr>
    <tr>
      <th scope="row">E-Mail</th>
      <td>{{user != null ? user.email : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Games</th>
      <td>
        <ul>
          <li *ngFor="let game of user.games"><button class="btn btn-link" (click)="showGame(game.id)">{{game.gameName}}</button></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
