<h2>Update User</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<br/>
<br/>

<form *ngIf="user != undefined">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">User Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="User Name" [(ngModel)]="user.userName" name="name" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail: </label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="E-Mail" [(ngModel)]="user.email" name="email" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password: </label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" name="password"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="updateUser()">Update</button>
    </div>
  </div>
</form>
