<h2>Developer Details</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deleteDeveloper()" class="btn btn-outline-danger">Delete Developer</button>
<br>
<br>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Details</th>
  </thead>
  <tbody>
  <tr>
    <th scope="row">id</th>
    <td>{{developer != null ? developer.id : ''}}</td>
  </tr>
  <tr>
    <th scope="row">Name</th>
    <td>{{developer != null ? developer.developerName : ''}}</td>
  </tr>
</tbody>
</table>
