<h2>Users</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="showCreate()" class="btn btn-outline-success">Create new User</button>
<br>
<br>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">E-Mail</th>
    <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{user.id}}</th>
    <td>{{user.userName}}</td>
    <td>{{user.email}}</td>
    <td>
        <button type="button" (click)="showDetails(user.id)" class="btn btn-outline-info">View</button>
        <button type="button" (click)="showUpdate(user.id)" class="btn btn-outline-primary">Update</button>
        <button type="button" (click)="showManageGames(user.id)" class="btn btn-outline-dark">Manage Games</button>
        <button type="button" (click)="deleteUser(user.id)" class="btn btn-outline-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
