<h2 *ngIf="user == null"></h2>
<h2 *ngIf="user != null">Manage Games of User {{user.id}}: {{user.userName}}</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="updateUser()" class="btn btn-primary">Save</button>
<br/>
<br/>

<div>
  <label>Owned Games:</label>
  <ul class="list-group" *ngIf="user != null" [(ngModel)]="user.games" ngDefaultControl>
    <li class="list-group-item" *ngFor="let g of user.games"><button class="btn btn-link" (click)="showGame(g.id)">{{g.gameName}}</button></li>
  </ul>
</div>
<br/>
<br/>

<label>All Games:</label>
<table class="table" *ngIf="allGames != null">
  <thead>
    <tr>
      <th scope="col">Game</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of allGames">
      <td><button class="btn btn-link" (click)="showGame(game.id)">{{game.gameName}}</button></td>
      <td>
        <button type="button" (click)="addGame(game.id)" class="btn btn-outline-success">Add</button>
        <button type="button" (click)="removeGame(game.id)" class="btn btn-outline-danger">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
