<h2>Developers</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="showCreate()" class="btn btn-outline-success">Create new Developer</button>
<br>
<br>


<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let dev of developers">
    <th scope="row">{{dev.id}}</th>
    <td>{{dev.developerName}}</td>
    <td>
      <button type="button" (click)="showDetails(dev.id)" class="btn btn-outline-info">View</button>
      <button type="button" (click)="showUpdate(dev.id)" class="btn btn-outline-primary">Update</button>
      <button type="button" (click)="deleteDeveloper(dev.id)" class="btn btn-outline-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
