<h2>Publishers</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="showCreate()" class="btn btn-outline-success">Create new Publisher</button>
<br>
<br>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </thead>
  <tbody>
  <tr *ngFor="let publisher of publishers">
    <th scope="row">{{publisher.id}}</th>
    <td>{{publisher.publisherName}}</td>
    <td>
      <button type="button" (click)="showDetails(publisher.id)" class="btn btn-outline-info">View</button>
      <button type="button" (click)="showUpdate(publisher.id)" class="btn btn-outline-primary">Update</button>
      <button type="button" (click)="deletePublisher(publisher.id)" class="btn btn-outline-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
