<h2>Game Details</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deleteGame()" class="btn btn-outline-danger">Delete Game</button>
<br>
<br>

<table class="table" *ngIf="game != undefined">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Details</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{game != null ? game.id : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Title</th>
      <td>{{game != null ? game.gameName : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td>{{game != null ? game.price : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Publisher</th>
      <td *ngIf="game.publisher != null">
        <button class="btn btn-link" (click)="showPublisher(game.publisher.id)">{{game.publisher.publisherName}}</button>
      </td>
      <td *ngIf="game.publisher == null"></td>
    </tr>
    <tr>
      <th scope="row">Release Date</th>
      <td *ngIf="game.releaseDate != null">{{game.releaseDate | date: 'medium'}}</td>
      <td *ngIf="game.releaseDate == null"></td>
    </tr>
    <tr>
      <th scope="row">Genre</th>
      <td>{{game != null ? game.genre : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{game != null ? game.description : ''}}</td>
    </tr>
    <tr>
      <th scope="row">Developers</th>
      <td>
        <ul>
          <li *ngFor="let dev of game.developers">
            <button class="btn btn-link" (click)="showDeveloper(dev.id)">{{dev.developerName}}</button>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Languages</th>
      <td>
        <ul>
          <li *ngFor="let lan of game.languages">
            <button class="btn btn-link" (click)="showLanguage(lan.id)">{{lan.language}}</button>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
