<h2>Games</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="showCreate()" class="btn btn-outline-success">Create new Game</button>
<br>
<br>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Release Date</th>
    <th scope="col">Publisher</th>
    <th scope="col">Genre</th>
    <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let game of games">
    <th scope="row">{{game.id}}</th>
    <td>{{game.gameName}}</td>
    <td>{{game.releaseDate | date:'medium'}}</td>
    <td>{{game.publisher == null ? game.publisher : game.publisher.publisherName}}</td>
    <td>{{game.genre}}</td>
    <td>
        <button type="button" (click)="showDetails(game.id)" class="btn btn-outline-info">View</button>
        <button type="button" (click)="showUpdate(game.id)" class="btn btn-outline-primary">Update</button>
        <button type="button" (click)="showManage(game.id)" class="btn btn-outline-dark">Manage</button>
        <button type="button" (click)="deleteDeveloper(game.id)" class="btn btn-outline-danger">Delete</button>
    </td>
  </tr>
</tbody>
</table>
