<h2>Manage Game</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<button type="button" (click)="deleteGame()" class="btn btn-outline-danger">Delete Game</button>
<br/>
<br/>

<button class="btn btn-primary btn-lg btn-block" (click)="showManageDevelopers()">Manage Developers</button>
<button class="btn btn-info btn-lg btn-block" (click)="showManageLanguages()">Manage Languages</button>
