<h2>Update Language</h2>
<h3>{{errorMessage}}</h3>

<button type="button" (click)="goBack()" class="btn btn-outline-dark">Go Back</button>
<br/>
<br/>

<form *ngIf="language != undefined && allLanguages != undefined">
  <div class="form-group row">
    <label for="language" class="col-sm-2 col-form-label">Language: </label>
    <div class="col-sm-10">
      <select [(ngModel)]="language.language" name="language" class="custom-select">
        <option *ngFor="let lan of allLanguages; let i = index" value={{lan}}>{{lan}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="updateLanguage()">Update</button>
    </div>
  </div>
</form>
